.sliderContainer {
  flex: 1;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.slide.active {
  opacity: 1;
  display: block;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}

.arrow {
  position: absolute;
  top: 150px; /* وسط تصویر (300px / 2) */
  transform: translateY(-50%); /* تنظیم دقیق برای وسط دکمه */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 20;
  font-size: 18px;
  pointer-events: auto;
}

.arrowLeft {
  left: 5px;
}

.arrowRight {
  right: 5px;
}

.preview {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
  z-index: 10;
}

.previewSlide {
  flex: 0 0 auto;
  cursor: pointer;
  pointer-events: auto;
}

.previewImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: border 0.3s;
  display: block;
}

.previewImage.active {
  border: 2px solid #38bdf8;
}

@media (max-width: 1024px) {
  .sliderContainer {
    max-width: 300px;
  }

  .slider {
    height: 200px;
  }

  .arrow {
    top: 100px; /* وسط تصویر در تبلت (200px / 2) */
  }
}

@media (max-width: 768px) {
  .sliderContainer {
    max-width: 300px;
  }

  .previewImage {
    width: 50px;
    height: 50px;
  }

  .slider {
    height: 180px;
  }

  .arrow {
    top: 90px; /* وسط تصویر در موبایل (180px / 2) */
  }
}